html{
  font-size: 62.5%;
}

/* heading section*/
.heading{
  background-color: #FF2442;
  height: 58rem;

}

.title{
  text-align: center;
  padding: 0.05rem;
  color:white;
  font-size: 10rem;
  font-family: 'Russo One', sans-serif;
  word-spacing: 1rem;
  letter-spacing: 1rem;
  padding-top: 3rem;

}

.afterHeading{
  height:21rem;
}
.subTitle{
  text-align: left;
  margin: 3rem;
  color:#FFB830;
  width: 26.5rem;
  position: relative;
  left:20%;
  top:10rem;
  font-size: 2.6rem;
  font-family: 'Hammersmith One', sans-serif;
  letter-spacing: 0.2rem;
}

@keyframes botlogo {
  0% {z-index:1; left:-20%;}
  20% {left:10%;}
  100% {z-index:1;right:50%;}
}

.botImage{
/*  z-index: -1;*/
  position: relative;
  bottom: 1rem;
  top:2rem;
  left: 2%;
  width: 15rem;
  height:15rem;
  animation-name: botlogo;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
/* for animating arrow*/
@keyframes arrow_animation {
  from {left:40rem;}
  to {left:20rem;}
}
.arrow{
  height: 3rem;
  width: 3rem;
  position: relative;
  left:35rem;
  bottom:1.6rem;
  top:3rem;
  animation-name: arrow_animation;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 2;

}

.activateButton{
  position: relative;
  left:20rem;
  bottom: 1rem;
}

.deactivateButton{
  position: relative;
  left:30rem;
  bottom:1rem;
  display: none;
}


/* bot body */


.secondSection{
  display:none;
  background-color: #FFEDDA;
  margin-top: 0;
  height:61rem;
  padding-top: 3rem;

}

.botOutlineDiv{
  background-color: white;
  height:55rem;
  width:30rem;
  margin-left: auto;
  margin-right: auto;
  border-width: 1rem;
  border-radius: 3rem;
}

.mobileInterface{
  border-style: groove;
  border-color: black;
  height:55rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  border-width: 1rem;
  border-radius: 3rem;
  background-color: #e8fafe;
}

/*notification bar*/

.notificationBar{
  height:2.56rem;

}
.time{
  width:5.8rem;
}
.tm{
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1rem;
}

.notification{
  width: 6rem;
  position: relative;
  bottom: 2.8rem;
  left: 22.1rem;
  height: 2.5rem;
}
.icons{
  padding: 0.5rem;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}

.battery{
  margin-top:0.3rem;
  height:1.3rem;
  width:1.6rem;
  padding-left: 0.15rem;
  margin-top: 0.3rem;
  position: relative;
  top:0.2rem;
}

.network{
  height:1.3rem;
  width:1.3rem;
  margin-left: 0.3rem;
  margin-top: 0.3rem
}

/*notification bar ends*/

.mobSpeakerHolder{
  border-style: groove;
  border-color: black;
  width:16rem;
  height:2.5rem;
  margin-left: auto;
  margin-right: auto;
  border-top: 0;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  background-color: black;
  position: relative;
  bottom:5.168rem;
}
.mobSpeaker{
  border-style: groove;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  width:5.5rem;
  position: relative;
  top:18%;
  height:0.8rem;
  border-radius: 0.5rem;
  background-color: #FF2442;
}
.mobSensor{
  border-style: groove;
  border-radius: 10rem;
  border-color: black;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  left:80%;
  bottom: 0.5rem;
  background-color: #FF2442;

}
/*handwave animation*/
@keyframes handwave {
  0%{transform: rotate(0deg);}
  50%{transform: rotate(60deg);}
  100%{transform: rotate(0deg);}
}

/* mobile screen content*/
.handwave{
  height:2.5rem;
  width: 2.5rem;
  position: relative;
  top:1rem;
  left:7.2rem;
  animation-name: handwave;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 6;
}
.screenHeading{
  border-bottom-style: groove;
  border-color: black;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: 0rem;
  height:7rem;
}
.mobScreenHeading1{
  text-align: center;
  position: relative;
  bottom: 1.2rem;
}
.mobScreenHeading2{
  text-align: center;
  position: relative;
  bottom:1.5rem;
}

/*chat record holder*/
.chatrecord{
  margin-top: 2rem;
  height: 28rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-style: double;
  border-color: black;
  overflow-x: hidden;
  overflow-y: auto;
}
/*user Response Style*/
.userResponseStyle{
  text-align: left;
  padding-left: 0.8rem;
}

/*bot Response Style */
.botResponseStyle{
  text-align: justify;
  padding-right: 0.8rem;
  color: red;
  margin-left: 4.5rem;
  line-height: 2rem;
  word-spacing: 0.4rem;
}

/*user response time stylesheet*/
.userResponseTimeStyleCSS{
  text-align: left;
  padding-top: 0.3rem;
  color:grey;
  font-style: italic;
  font-size: 0.9rem;

}

/*bot response time style*/
.botResponseTimeStyleCSS{
  text-align: right;
  color: grey;
  padding-left: 1rem;
  padding-top: 0.3rem;
  font-style: italic;
  font-size: 0.9rem;

}


/* message suggestion */
.chatSuggestionHeading{
  position: relative;
  top:1.5rem;
  margin-left: 1rem;
}
.chatSuggestion{
  border-top-style: groove;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-color: black;
  height:5rem;
  position: relative;
  top:1.5rem;
  text-align: center;
  overflow: hidden;
}
.btn{
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.35rem;
}

/* user response buttons style
.b1{
  position: relative;
  right: 5rem;
}
.b2{
  position: relative;
  right: 10rem;
}
.b3{
  position: relative;
  right: 20rem;
}
*/
/* type message */
.screenfooter{
  border-top-style: groove;
  border-color: black;
  height: 5rem;
  position: relative;
  top:2rem;
}

.typeMessageText{
  margin-left:1rem;
  margin-top: 0.7rem;
}

/* footer */
.fot{
  margin-top: 3rem;
  text-align: center;
  color: #FF2442;
  height:5rem;
}
.credit{
  margin: 1rem;
  margin-top: 1rem;
  font-size:1.8rem;
}
/* responsiveness*/

/*big screen*/
@media (min-width:999px){
  .heading{
    background-color: #FF2442;
  }
  .title{
    font-size: 13rem;
  }
  .botImage{
    width: 18rem;
    height:18rem;
  }
  .subTitle{
    width: 50.5rem;
    font-size: 4rem;
    left: 20%;
  }
  .activateButton{
    position: relative;
    left: 25rem;
    top:3rem;
  }
  .deactivateButton{
    position: relative;
    left: 25rem;
    top:3rem;
  }
  .subTitle{
    position: relative;
    left:22rem;
  }
  .mobSpeakerHolder{
    position: relative;
    bottom: 5.21rem;

  }
  .btn{
    font-size: 2rem;
  }
  .b1{
    font-size: 1.3rem;
  }
  .b2{
    font-size: 1.3rem;
  }
  .b3{
    font-size: 1.3rem;
  }
  .secondSection{
    zoom:110%;
  }
}

/*small screen laptops all mobile phones and tablets*/
@media (max-width:998px){
  html{
    font-size: 52.5%;
  }
  .heading{
    background-color: #FF2442;
     height: 100rem;
  }
  .title{
    padding-top: 5rem;
    font-size: 20rem;
  }
  .botImage{
    position: relative;
    top:10rem;
    width: 18rem;
    height:18rem;
  }
  .subTitle{
    position: relative;
    top:15rem;
    width: 60.5rem;
    font-size: 6rem;
    left: 20%;
  }
  .activateButton{
    position: relative;
    left: 26rem;
    top:15rem;
  }
  .deactivateButton{
    position: relative;
    left: 26rem;
    top:15rem;
  }
  .btn{
    font-size: 2.5rem;
  }
  @keyframes arrow_animation_1{
    from {left:65rem;}
    to {left:25rem;}
  }
  .arrow{
    position: relative;
    top:11rem;
    height: 3.8rem;
    width: 3.8rem;
    position: relative;
    left:55rem;
    animation-name: arrow_animation_1;
    animation-duration: 0.9s;
    animation-delay: 0.5s;
    animation-iteration-count: 2;
  }
  .notificationBar{
    height:2.54rem;
  }
  .mobSpeakerHolder{
    position: relative;
    bottom:5.2rem;
  }
  .b1{
    font-size: 1.3rem;
  }
  .b2{
    font-size: 1.3rem;
  }
  .b3{
    font-size: 1.3rem;
  }
  .credit{
    font-size: 2.5rem;
  }
  .secondSection{
    zoom:180%;
  }
}

/*ipads & tablets*/
@media (max-width:768px){
  html{
     font-size: 39.5%;
   }
   .heading{
     background-color: blue;
     height: 70rem;
   }
   .title{
     font-size: 12rem;
   }
   .botImage{
     width: 20rem;
     height:20rem;
   }
   .subTitle{
     width: 50.5rem;
     font-size: 4.6rem;
     left: 25%;
   }
  .notificationBar{
    height:2.46rem;
  }
  .activateButton{
    position: relative;
    left: 28rem;
    top:5rem;
  }
  .deactivateButton{
    position: relative;
    left: 28rem;
    top:5rem;
  }
  .btn{
    font-size: 2.2rem;
  }
  @keyframes arrow_animation_1 {
    from {left:55rem;}
    to {left:23rem;}
  }
  .arrow{
    height: 3.8rem;
    width: 3.8rem;
    position: relative;
    left:55rem;
    animation-name: arrow_animation_1;
    animation-duration: 0.9s;
    animation-delay: 0.5s;
    animation-iteration-count: 2;
  }
  .b1{
    font-size: 1.29rem;
  }
  .b2{
    font-size: 1.29rem;
  }
  .b3{
    font-size: 1.29rem;
  }
  .heading{
    zoom:110%;
  }
  .secondSection{
    zoom:150%;
  }

@media(max-width:720px){
  .heading{
    background-color: #FF2442;
    height: 65rem;
  }
.title{
  font-size: 12rem;
}
.botImage{
  width: 18rem;
  height:18rem;
}
.subTitle{
  width: 50.5rem;
  font-size: 4.6rem;
  left: 25%;
}
.activateButton{
  position: relative;
  left: 25rem;
  top:5rem;
}
.deactivateButton{
  position: relative;
  left:25rem;
  top:5rem;
}
.arrow{
  height: 3rem;
  width: 3rem;
  position: relative;
  left:30rem;
  /*bottom:1.6rem;
  top:4rem;*/
}
.btn{
  font-size: 2rem;
}
.b1{
  font-size: 1.28rem;
}
.b2{
  font-size: 1.28rem;
}
.b3{
  font-size: 1.28rem;
}
.heading{
  zoom:120%;
}
.secondSection{
  zoom:140%;
}
}
/*@media(max-width:660px){

.activateButton{
  position: relative;
  left:20rem;
}
}*/

/*mobile devices*/
@media(max-width:560px){
  html{
    font-size: 30.5%;
  }
  .heading{
    background-color: yellow;
    height: 88rem;
  }
  .title{
    font-size: 15rem;
  }
  .botImage{
    width: 25rem;
    height:25rem;
  }
  .subTitle{
    width: 50.5rem;
    position: relative;
    left:25%;
    top:10rem;
    font-size: 7.6rem;
  }
  .activateButton{
    position: relative;
    left: 28rem;
    top:25rem;
    font-size: 20rem;
  }
  .deactivateButton{
    left: 28rem;
    top:25rem;
    font-size: 5rem;
  }
  .arrow{
    height: 4rem;
    width: 4rem;
    position: relative;
    left:35rem;
    bottom:1.6rem;
    top:4rem;
  }
  .notificationBar{
    height:2.45rem;
  }
  .mobSpeakerHolder{
    bottom:5.25rem;
  }
  .btn{
    font-size: 2.5rem;
  }
  .b1{
    font-size: 1.3rem;
  }
  .b2{
    font-size: 1.3rem;
  }
  .b3{
    font-size: 1.3rem;
  }
  .secondSection{
    zoom:180%;
  }
}
@media(max-width:460px){
  html{
    font-size: 23.2%;
  }
  .heading{
    background-color: grey;
  }
  .notificationBar{
    height:2.42rem;
  }
  .activateButton{
    position: relative;
    left: 23rem;
  }
  .deactivateButton{
    position: relative;
    left: 24rem;
  }
  .btn{
    font-size: 1.3rem;
  }
}
@media(max-width:360px){
  html{
    font-size: :13.2%
  }
}
